* {
    box-sizing: border-box;
}

body {

    background-image: url(../images/background.png);
}
.rating {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    font: "Comic Sans MS";
    margin: 5px 1px;
    color: lightgoldenrodyellow;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

label {
    font: "Times New Roman";
    font-size: 24px;
    font-weight: 600;
    color: lightgoldenrodyellow;
}

img:hover {
    border: 5px solid green;
}

.imgblock {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 5px;
}

.gify-area {
    margin-left: 5px;
    margin-bottom: 5px;
}

.aributton {
    margin-right: 3px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    box-shadow: none;
    color: coral;
    background-color: white;
}

.button-area {
    margin: 5px 0 0 3px;
}

#add-movie {
    border-radius: 4px;
    background-color: white;
    color: coral;
    font-weight: 600;
}